main{
  min-height: 80vh ;
}
.pimg{
  width: 220px;
  height:210px;
  margin:auto;
}
h2{
  font-size: 1.4rem;
  padding: 1rem;

}
h1{
  font-size: 1.8rem;
  padding: 1.2rem;

}
h3{
  font-size: 1.2rem;
  padding: 0.8rem;
  margin:0,auto;

}